[Unit]
Description=Daphne ASGI server for GigPulse
After=network.target

[Service]
User={{DEPLOY_USER}}
Group=www-data
WorkingDirectory={{APP_PATH}}
Environment="PATH={{VENV_PATH}}/Scripts"
ExecStart={{VENV_PATH}}/Scripts/daphne -b 127.0.0.1 -p 8001 config.asgi:application

[Install]
WantedBy=multi-user.target
